[2016-05-17 00:57] ElieeCh opened #2 "Awesome! :)"
Can you please add in the description how to install?
Much appreciated ! Thank you
Edit: yes for newbs like me

[2016-05-17 00:58] dahquan commented on #2
You can view that here http://dahquan.github.io/rattlesnake/

[2016-05-17 00:59] ElieeCh commented on #2
Just checked it out!
My bad should've read everything first!
Thanks!! :)

[2016-05-17 01:09] #2 closed

[2016-05-17 01:10] ElieeCh opened #3 "Error"
Do you know where this error is coming from ?
![capture](https://cloud.githubusercontent.com/assets/18157373/15308377/9a7c9d48-1baa-11e6-9517-779da7f23422.PNG)

[2016-05-17 01:11] dahquan commented on #3
Yes I do, it's from an unused module I forgot to remove. I'm fixing that right now along with another small problem.

[2016-05-17 01:12] ElieeCh commented on #3
Alright, thanks!

[2016-05-17 01:51] #3 closed

[2016-05-17 02:23] ElieeCh opened #4 "Proxies"
Do I have to write what type of proxies im using before putting them ?
And can I use public ones ?
Https/http or socks4/5 ?

[2016-05-17 02:27] dahquan commented on #4
Right now only HTTP proxies are supported. Going to add support for others soon.

[2016-05-17 03:12] ElieeCh commented on #4
Thank you!

[2016-05-17 03:12] #4 closed

[2016-05-17 03:23] ElieeCh opened #5 "Bots"
Just wanted to ask you if you can make the bots more similar to raga.pw bots, so when they get closer to you they try to go for the part close to your head without trying to kill you !
Other than that, amazing work ! Everything worked out amazingly as expected. Thank you so much for sharing the project for free ! :)

[2016-05-17 03:25] dahquan commented on #5
I'm not too focused on actually logic of the bot, I kind of want to leave that part up to the people who use the library. Maybe one day I'll try making a more advanced bot, but for now we will have to leave that up to contributors.

[2016-05-17 05:11] ElieeCh commented on #5
Alright, thanks!

[2016-05-17 05:11] #5 closed

[2016-05-17 15:47] KrissV2 opened #6 "Error packet"
Do you know why i have always this error ?

[2016-05-17 15:48] dahquan commented on #6
What directory are you in and what command are you running?

[2016-05-17 15:51] KrissV2 commented on #6
i try run feeder from example folder , node feedme

I upload your project, and put command npm install
No error and now i just try run :)

Thx for reply

[2016-05-17 15:52] dahquan commented on #6
try doing node examples/feedme.js

If that doesn't work can you take a sreenshot?

[2016-05-17 15:54] KrissV2 commented on #6
here is screen

[2016-05-17 15:55] dahquan commented on #6
Are you sure you have all the files installed? can you take a picture of the directory?

[2016-05-17 16:06] dahquan commented on #6
Hey, try redownloading/cloning the repo again, I think I've added the fix for your issue

[2016-05-17 16:38] KrissV2 commented on #6
yes , now have info

Then, thank you very much :)

[2016-05-17 16:48] glenclark opened #7 "Not Working"
this is what i get when i run it

[root@vps79645 rattlesnake]# node examples/feedme.js

/root/rattlesnake/examples/feedme.js:16
const Bot = require('../dist')
^^^^^
SyntaxError: Use of const in strict mode.
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Fu

[2016-05-17 19:54] dahquan commented on #7
What version of node are you using?

[2016-05-17 19:54] #6 closed

[2016-05-17 20:21] glenclark commented on #7
latest i believe

[2016-05-17 20:24] dahquan commented on #7
Can you tell me the output of

```node -v```?

[2016-05-17 20:25] glenclark commented on #7
yes one sec

[2016-05-17 20:26] glenclark commented on #7
v0.10.42

[2016-05-17 20:26] dahquan commented on #7
Looks like you need to update your node version, the latest right now is version 6.

[2016-05-17 20:27] glenclark commented on #7
ok what is mine like not even 1 XD?

[2016-05-17 20:27] glenclark commented on #7
how do i update it on linux vps ?

[2016-05-17 20:28] dahquan commented on #7
Take a look [here](https://nodejs.org/en/download/package-manager/)

[2016-05-17 20:47] glenclark commented on #7
it works now but now i get an error on console

[2016-05-17 20:48] dahquan commented on #7
What error?

[2016-05-17 20:49] glenclark commented on #7
VM19754:1 GET http://127.0.0.1:1337/inject net::ERR_CONNECTION_REFUSED

[2016-05-17 20:50] dahquan commented on #7
You have to change the ip to the server if you aren't going to be running it locally

[2016-05-17 20:50] glenclark commented on #7
i did but it still says it

[2016-05-17 20:51] dahquan commented on #7
Open ```examples/feedme.js``` and replace all ```127.0.0.1``` with the ip.

[2016-05-17 20:52] glenclark commented on #7
yea i did but it still doesnt work

[2016-05-17 20:52] glenclark commented on #7
GET http://149.56.108.92:1337/inject net::ERR_CONNECTION_TIMED_OUT

[2016-05-17 20:54] dahquan commented on #7
Did you make sure you are port forwarding correctly? http://www.yougetsignal.com/tools/open-ports/

[2016-05-17 20:55] glenclark commented on #7
ok it shows its closed

[2016-05-17 20:56] glenclark commented on #7
how do i open it on centos

[2016-05-17 20:59] dahquan commented on #7
http://ask.xmodulo.com/open-port-firewall-centos-rhel.html

I don't think the questions you are asking have to do with the library any more, you should ask misc questions here: https://gitter.im/dahquan/rattlesnake?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-05-18 01:42] #7 closed

[2016-05-18 05:07] devesh457 opened #8 "How to Use This"
Hello,
I would Like Give The Feedback But How To Use This?

[2016-05-18 05:14] dahquan commented on #8
Please take a look at the documentation

http://dahquan.github.io/rattlesnake/examples.html

[2016-05-18 07:19] devesh457 commented on #8
Thanks For The Reply i Followed Everything Yeah they spawned once but now its shows error on my command promt screen  "tunneling socket could not be established "

[2016-05-18 07:20] dahquan commented on #8
That means the proxy servers you are using aren't as good, try using better ones

[2016-05-18 07:24] devesh457 commented on #8
can you give me some site where i get good proxies !!! (Would Be Very Thankfull)

[2016-05-18 20:06] YTpuffer opened #9 "VPS Support"
I tried to run the script on my VPS (windows) and got the following error:

I changed the code what you have to paste in the console to:

Thanks for your help!

[2016-05-18 20:09] YTpuffer commented on #9
Do i need to change to port to: 8081 maybe?

[2016-05-18 20:47] SrNicolas commented on #9
Try it

[2016-05-18 20:48] dahquan commented on #9
Have you changed all the ips in ```examples/feedme.js``` to the new one?

Go in there are replace 127.0.0.1 with it

[2016-05-18 20:49] SrNicolas commented on #9
I did, not working

Timed Out

[2016-05-18 20:51] dahquan commented on #9
That first url isn't even correct, it should just be

http://149.202.241.161:1337/inject

[2016-05-18 20:52] SrNicolas commented on #9
Puffer Im recommend to remove the IP of ur server, Using bots from ur server lolz

[2016-05-18 20:53] SrNicolas commented on #9
@dahquan its not working still.

[2016-05-18 20:53] dahquan commented on #9
Are you using the same ip as him?

[2016-05-18 20:54] SrNicolas commented on #9
Yes, bcuz 4 dem lolz, and in my own server, doesnt work either.

[2016-05-18 20:55] dahquan commented on #9
I just tested using his url and it worked fine for me.

Just go to http://slither.io and paste in the inject script:

[code]

[2016-05-18 20:59] YTpuffer commented on #9
So this must be correct:

var xhttp=new XMLHttpRequest;xhttp.onreadystatechange=function(){4==xhttp.readyState&&200==xhttp.status&&eval(xhttp.responseText)},xhttp.open("GET","http://149.202.241.161:1337/inject",!0),xhttp.send();

[2016-05-18 21:00] dahquan commented on #9
Yes, just make sure it's portforwarded

[2016-05-18 21:01] YTpuffer commented on #9
What port do i forward? :1337 and do i have to change all the IP's in the feedme.js too?

[2016-05-18 21:01] SrNicolas commented on #9
Yes.

[2016-05-18 21:02] SrNicolas commented on #9
Dah, I could make a tampermonkey script or an extension

[2016-05-18 21:02] YTpuffer commented on #9
Sahquan now remove my IP please

[2016-05-18 21:03] YTpuffer commented on #9
Still doesnt works.. i got the same error as before

[2016-05-18 21:03] SrNicolas commented on #9
Me too

[2016-05-18 21:06] dahquan commented on #9
I'll further assist you on the gitter, check there

[2016-05-18 21:06] YTpuffer commented on #9
What do i have to forward inbound or outbound and TCP or UDP

[2016-05-18 21:07] SrNicolas commented on #9
Both

[2016-05-18 21:07] YTpuffer commented on #9
I did them all now.. still not working

[2016-05-18 21:08] dahquan commented on #9
Talk to me on [here](https://gitter.im/dahquan/rattlesnake)

[2016-05-18 21:35] #9 closed

[2016-05-19 03:03] DeRpYsApLiNg opened #10 "NPM?"
Is it possible that you could upload this to npm?
It would make shit 100% easier for me,
thanks!

[2016-05-19 03:15] dahquan commented on #10
Yes it's available on NPM

[code]

I'll put that on the README, thanks

[2016-05-19 03:24] v0Lcoom opened #11 "Erro ?"
what would this error ?
https://gyazo.com/f34e4fe618cd0693712a1639eae6f09e
it seems that bots do not follow me , and hardly find them on the server .

[2016-05-19 03:28] dahquan commented on #11
That means some of the proxy servers you are using are not able to connect. And if you are surrounded by alot other snakes they are most likely not going to make it to you. Sometimes they take a while to get there cause they keep dying.

[2016-05-19 04:40] v0Lcoom commented on #11
It is to know how many bots have on the server ?

[2016-05-19 04:49] dahquan commented on #11
It says the amount of bots that will spawn after you connect. The bot script isn't as advanced as it's only an example, feel free to edit it and submit any changes you think should be made.

[2016-05-19 07:45] YTpuffer opened #12 "Bot count function?"
Is there anything done yet on a bot count function?
Let me know

[2016-05-19 07:47] dahquan commented on #12
No there isn't, this project is meant to be just a library. It isn't specifically made for botting, I am however working on another project that will be dedicated too it.

Feel free to edit the example and add in any extra functionality.

[2016-05-19 09:44] Wartoz opened #13 "bots don't launch problem server"
XMLHttpRequest cannot load http://tsukigro-tsukigro.c9users.io:8080/inject. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://slither.io' is therefore not allowed access.
Bots don't start here some screenshots :
http://i.imgur.com/PjrAwqC.png cannot get page
http://i.imgur.com/yIUxbuK.png code inject
http://i.imgur.com/oXQpsu8.jpg error in slither
http://

[2016-05-19 10:01] YTpuffer opened #14 "Bot count function!"
I already have an idea how to do this but i cant figure out how:

      bot.on('spawn', function() {
        console.log(bot.name + 'spawned')

     bot.on('dead', function() {
        console.log(bot.name + ' died')

Amount of working bots = Spawned bots - Dead Bots

But where can i get the amount of spawned bots/dead bots?

[2016-05-19 10:11] YTpuffer commented on #14
function botcount
 console.log ('Bots:' +(spawn - dead)

This isnt working (Ofcourse) any other way i can find the amount of spawned bots and dead bots

[2016-05-19 12:06] RaxBoon commented on #13
wartoz you have the agar.io bots

[2016-05-19 13:21] SrNicolas commented on #14
simple. a variable

[2016-05-19 15:10] YTpuffer commented on #14
Explain me please?

[2016-05-19 16:33] SrNicolas commented on #14
u did thumbs down on mah comment, not going 2 explain, 2 fab 4 u

[2016-05-19 17:50] dahquan commented on #13
Your first picture shows a url without the :8080 port and the other ones show it. Are you sure you're using the right url?

[2016-05-19 17:52] Wartoz commented on #13
fixed bro

[2016-05-19 17:52] Wartoz commented on #13
i mooved to other vps

[2016-05-19 17:52] #13 closed

[2016-05-19 18:14] dahquan commented on #8
Please use issues for questions that relate to the library.

[2016-05-19 18:14] #8 closed

[2016-05-19 18:14] #10 closed

[2016-05-19 18:25] da-agar-nigga opened #15 "how do I change servers through the file or cmd?"

[2016-05-19 18:28] dahquan commented on #15
You can see how to change the server [here](http://dahquan.github.io/rattlesnake/examples.html)

[2016-05-19 18:39] da-agar-nigga commented on #15
thanks

[2016-05-19 18:39] #15 closed

[2016-05-20 07:08] Wartoz opened #16 "change bot skin possible?"
there is a command to set up a skin in the console tab : setSkin(snake, 25) someone knows how to set up this command for bots?

[2016-05-20 17:02] DeRpYsApLiNg commented on #16
I'll look into it for you ;c

[2016-05-20 17:34] mayed505 commented on #14
a like from me please explain to me on skype if you would like haha.

[2016-05-20 17:39] mayed505 commented on #14
How i would think is this code:
`
var Alive = (Some Variable)
var Dead = (Some Variable)
Fuction BotCount() {
console.log ('Bots:' + Alive + '/' +  Dead);
}, 100);
`
Correct me if im thinking wrong :)

[2016-05-20 18:36] mayed505 opened #17 "Created auto script for feedme.js"
Hello, I just coded an auto script for rattlesnake feedme.js feel free to use and thank me for saving your own time :D
http://pastebin.com/raw/wMm4vKa4

Tutorial:
Install TamperMonkey On google chrome.
press the TamperMonkey icon when installed.
Click Add new script.
Delete the existing default code.
Paste the code.
Done.

[2016-05-20 20:46] YTpuffer commented on #17
Nice! I made a script when you press "E" its connect to vps/127.0.0:1337

[2016-05-21 01:31] ravyn120 opened #18 "Does this help?"
found some more free slither.io bots http://pastebin.com/raw/Yd0QEZ6Z
they do work btw

[2016-05-21 04:30] mayed505 commented on #17
@YTpuffer Cool

[2016-05-21 04:39] mayed505 commented on #18
@ravyn120 Hey, Rattlesnake (this repo) is better from the one you added here. Rattlesnake have more options and i got #1 in slither in 12 mins. I will livestream maybe

[2016-05-21 04:56] #18 closed

[2016-05-21 05:28] mayed505 opened #19 "Feedme.js problem error"
i get this error when playing https://gyazo.com/b64c1a5802aaf6045294a7eaa956cbf2

[2016-05-21 05:29] sandor111 commented on #19
How many proxies were you using?

[2016-05-21 05:37] mayed505 commented on #19
1902 proxies

[2016-05-21 06:10] MinersMC commented on #17
@YTpuffer i made it. not you.

[2016-05-21 06:12] sandor111 commented on #17
@MinersMC  Can you plz share it with me

[2016-05-21 06:19] gamer2510 commented on #19
Ur skype?

[2016-05-21 06:53] dahquan commented on #19
Those errors are due to some proxies not being able to connect.

[2016-05-21 06:54] dahquan commented on #17
Thanks for the share, just a quick update. I'm going to be releasing another open source project that is dedicated to botting and will have no need for any injection and will do it automatically for you.

[2016-05-21 08:28] Wartoz commented on #17
good news

[2016-05-21 11:04] RuneBots commented on #16
Not easy, iTwigX. All I know is that it has something to do with packets.

[2016-05-21 12:19] mayed505 commented on #17
@dahquan please include uuid and stuff so other people cant connect to the feeder...... just like ogar-feeder-bot

[2016-05-21 12:20] mayed505 commented on #16
@RuneBots its easy i can change skins in the config on dlist/bot.js we can use  setSkin (skinpacketit)

[2016-05-21 15:31] Dejerne commented on #19
@mayed505 Where u get your proxies from?

[2016-05-21 16:08] Rassyp opened #20 "Error?"
I am constantly getting this error when trying to run the bots http://prntscr.com/b6qjm0
Any help?

[2016-05-21 17:52] dahquan commented on #20
Those errors have to do with your proxy servers

[2016-05-21 18:04] mayed505 commented on #19
@Dejerne premium.freeproxy.ru/en/

[2016-05-21 18:05] mayed505 commented on #17
update: http://pastebin.com/S44EdVPX

[2016-05-21 18:12] sandor111 commented on #17
@mayed505 Can you maybe add a bot count to the userscript?

[2016-05-21 18:14] sandor111 opened #21 "please include uuid and stuff so other people can connect to the feeder"
Can some one tell me how to use this on a vps. Or just let my bots connect to some one.

[2016-05-21 18:24] dahquan commented on #21
The snake needs your current position to go to you, it can't find you by uuid.

[2016-05-21 19:10] dahquan commented on #16
Take a look at 3e02508, bots will now use the same skin you choose or optionally you can set one at the top of the script.

[2016-05-21 19:10] #16 closed

[2016-05-21 19:18] dahquan commented on #20
Please take a look at the [F.A.Q](FAQ.md).

[2016-05-21 19:19] #20 closed

[2016-05-21 19:19] dahquan commented on #19
Please take a look at the [F.A.Q](https://github.com/dahquan/rattlesnake/blob/master/FAQ.md).

[2016-05-21 19:19] #19 closed

[2016-05-21 19:19] dahquan commented on #11
Please take a look at the [F.A.Q](https://github.com/dahquan/rattlesnake/blob/master/FAQ.md).

[2016-05-21 19:19] #11 closed

[2016-05-21 19:20] dahquan commented on #17
Can you create a separate repository for this instead of using the issues?

[2016-05-21 19:29] #14 closed

[2016-05-21 19:30] dahquan commented on #12
Added in 8de9c13a96fb081c2731e306dddcd392ae44e2eb

[2016-05-21 19:30] #12 closed

[2016-05-21 19:38] ravyn120 opened #22 "I made a bot counter"
https://gyazo.com/2be985f7d1a4905498a3e63816f6a683

[2016-05-21 19:46] dahquan commented on #22
I've put in the bot counter into the feedme example. 8de9c13a96fb081c2731e306dddcd392ae44e2eb

[2016-05-21 19:46] #22 closed

[2016-05-21 21:22] ravyn120 opened #23 "Bots stay at a low amount"
I'm using 200 private proxies the bot amount stays low like at 10 there are no errors.

[2016-05-21 21:28] dahquan commented on #23
Are you looking at the Bot Alive count that was just added? I found a bug in it that I'm fixing that is displaying the wrong number.

[2016-05-21 21:40] ravyn120 commented on #23
No i'm looking at a custom bot counter that shows how many were connected not alive

[2016-05-21 21:43] dahquan commented on #23
I see what you're talking about, I'll look into it. Out of the 200, about how many connect?

[2016-05-21 21:48] ravyn120 commented on #23
About 10-12

[2016-05-21 21:49] dahquan commented on #23
Really? I'm testing with 120 and get about 100. Are you running it on your local pc?

[2016-05-21 21:50] ravyn120 commented on #23
I tested it with my pc and on c9.io and with a vps.

[2016-05-21 21:51] dahquan commented on #23
Can you paste your custom counter here? And it could also be that your network can't handle it

[2016-05-21 21:54] ravyn120 commented on #23
@dahquan yeah it might be my network. Give me a second i'm going to check my usage when ever I run the bots

[2016-05-21 23:08] Wartoz commented on #23
it's working perfect with vps but how you did to set up on c9 bro? i tried but i failed i mooved to koding vm

[2016-05-22 00:46] ravyn120 commented on #23
@Wartoz make the c9.io workspace public because if its not it cannot access the link/inject or whatever.

[2016-05-22 04:01] ravyn120 commented on #23
Ehh I fixed it by adding like 7k public proxies still only get like 250 out of 7.3k proxies but what ever i'm getting 250

[2016-05-22 04:01] #23 closed

[2016-05-22 05:13] sandor111 commented on #23
How to run the bots on a vps???

[2016-05-22 05:47] SrNicolas opened #24 "Recode feedme.js in socket.io or websocket"
Hi. as xhttp is a little unefficient, could you do a websocket connection from feedme.js and a tampermonkey script (I could do that) because websocket is very fast and allows 2 clients spawning in bots :)

[2016-05-22 05:51] dahquan commented on #24
Yes I can put it in WebSockets, I was initially going to do this but then again it's just an example. This repository isn't dedicated to feedme.js, I'm working on a completely new project dedicated to the bot and it supports the websockets. It's going to be released in another day or 2.

[2016-05-22 06:57] SrNicolas commented on #24
Thanks for the info.

[2016-05-22 06:57] #24 closed

[2016-05-22 09:19] RuneBots commented on #21
Sorry, but I aint gonna help you. Why? You use a opensource, and you sell it for 12 dollars....

[2016-05-22 09:48] SrNicolas commented on #21
XDDDDDDDDDD

[2016-05-22 10:03] mayed505 commented on #17
@sandor111 i will try

[2016-05-22 10:20] mayed505 opened #25 "Create UUIDS for feeder"
Please create UUIDs for feeder so i can access my vps bots without everytime changing my ip since my ISP changes my ip address every 6 hours. Just like ogar-feeder-bot

[2016-05-22 10:25] sandor111 commented on #17
@mayed505 thx

[2016-05-22 10:27] HLDahquan commented on #25
The bot doesn't find you based on ip... it finds you based on your position that you send to the server. This project isn't made for a feeding bot, I'm working on a project dedicated to it and should be released in 2-3 days.

[2016-05-22 10:28] sandor111 commented on #21
@RuneBots you never helped any one enige wat je kan is met kk schelden

[2016-05-22 10:28] #21 closed

[2016-05-22 10:30] mayed505 commented on #25
@HLDahquan Alright. awesome

[2016-05-22 14:03] mayed505 opened #26 "Trying to create bot counter on dev console"
Hello @dahquan im trying to console log bots alive with INJECT code heres what im trying
`const INJECT =  "(function() {\r\n" +
"    var intv = 0;\r\n" +
"    var playClick = play_btn.elem.onclick;\r\n" +
"    var lastState = want_close_socket;\r\n" +
"    var oldConnect = connect;\r\n" +
"    function get(path) {\r\n" +
"        var xhttp = new XMLHttpRequest();\r\n" +
"        xhttp.open(\"GET\"

[2016-05-22 15:00] sandor111 commented on #26
@mayed505  Do you have skype? plz add me: sandor,potjer

[2016-05-22 15:04] mayed505 commented on #26
@sandor111 where are u from on skype?

[2016-05-22 15:04] sandor111 commented on #26
Netherlands

[2016-05-22 15:05] sandor111 commented on #26
i typed a , instead of an . I the message above^^ so if you copied that it was wrong

[2016-05-22 15:05] mayed505 commented on #21
@RuneBots to be honest you did that too you started trying to sell your agario bots with "" Open Source "" why are you targeting him?

[2016-05-22 15:05] mayed505 commented on #26
added

[2016-05-22 15:06] mayed505 commented on #26
@sandor111 are you gonna help me do the code?

[2016-05-22 15:29] SrNicolas opened #27 "Fix NPM package on dist bot Packet, change to packet"
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2016-05-22 16:04] SrNicolas opened #28 "Impossible to use the lib."
Hi. Me and a friend developed a script kind of ogar-feeder-bot using this lib. The problem is that its impossible to use the lib due to an error.

const Bot = require('rattlesnake')
and got this error
https://gyazo.com/3c5ef735556b96b5c226d124e7c94894

[2016-05-22 17:41] DeRpYsApLiNg commented on #26
let alive doesn't change once a bot is spawned, it would just stay as a 0

[2016-05-22 17:56] dahquan commented on #28
Did you figure out the problem? Were you using an instance of bot?

[2016-05-22 17:57] dahquan commented on #27
I'll update that right now

[2016-05-22 18:01] dahquan commented on #26
The variable ```alive``` is unused code that I have to clean up

[2016-05-22 18:04] SrNicolas commented on #28
I can't figure out how works the port of the proxy connect, so that may be the problem with low bots, because it always uses port 80

[2016-05-22 18:05] dahquan commented on #28
You can change the port of the proxy by adding ```:[PORT]``` to the ip. So for example:

[code]

[2016-05-22 18:07] dahquan commented on #27
It's now updated to 0.1 on NPM

[2016-05-22 18:08] #25 closed

[2016-05-22 18:15] XtremePlayzCODE opened #29 "Possible to create the feedme on a UserScript?"
Like I just said, would it be possible to create the feedme example on a UserScript?

[2016-05-22 18:16] dahquan commented on #29
The UserScript would have to connect locally to the feedme example

[2016-05-22 18:17] XtremePlayzCODE commented on #29
But still, not running on your P.C., just on the browser?

(I thought this because the "src" folder has non-node syntax, so it would be possible, right?)

[2016-05-22 18:20] dahquan commented on #29
It would have to run on PC and the syntax is ES6. It's the newer version of JavaScript, it's later compiled into ES5 syntax (Take a look at the dist folder).

[2016-05-22 18:21] XtremePlayzCODE commented on #29
The DIST not SRC folder... lol

[2016-05-22 18:21] XtremePlayzCODE commented on #29
My main question is can there be a feeder bot in a userscript?

[2016-05-22 18:22] dahquan commented on #29
I don't think it can just be done in a browser alone cause it requires using proxies to connect multiple bots

[2016-05-22 18:23] XtremePlayzCODE commented on #29
True, true. What about putting a proxy list in the userscript?

[2016-05-22 18:26] dahquan commented on #29
I don't think browsers allow you to change proxies for a specific connection, but I could be wrong. I'd have to take a look at it

[2016-05-22 18:28] XtremePlayzCODE commented on #29
Broswec.

[2016-05-22 18:35] SrNicolas commented on #28
can you explain better plesase?

[2016-05-22 18:37] dahquan commented on #28
Inside of proxies.txt, if you have an ip '''4.32.56.1''' but it uses port 8090. This is how you would put it inside proxies.txt:

'''
4.32.56.1:8090
'''

[2016-05-22 18:45] SrNicolas commented on #28
I did that, but in src you can clearly see host serverip

port: 80

[2016-05-22 18:48] dahquan commented on #28
It uses port 80 by default if none are given.

https://github.com/dahquan/rattlesnake/blob/master/src/bot.js#L67

[2016-05-22 19:22] XtremePlayzCODE opened #30 "Good proxys?"
Any site with good proxies?

[2016-05-22 19:23] sandor111 commented on #30
@XtremePlayzCODE I can't find proxies that are working with this bot too

[2016-05-22 19:24] dahquan commented on #30
Where are you getting your proxies from? Try searching "Public Daily Http Proxies" on google

[2016-05-22 19:26] sandor111 commented on #30
@dahquan Maybe you know a good proxie scraper/checker?

[2016-05-22 19:31] XtremePlayzCODE commented on #30
I get a list of 35 working proxys but get only 7 bots...

[2016-05-22 19:32] dahquan commented on #30
How many snakes are you using per proxy, your connection might not be able to handle it. I'm looking into another low bot count problem though.

[2016-05-22 19:33] XtremePlayzCODE commented on #30
2

[2016-05-22 19:45] XtremePlayzCODE commented on #30
my bots are in the negatives now...

[2016-05-22 20:24] ravyn120 commented on #30
@XtremePlayzCODE here http://www.gatherproxy.com/proxylistbycountry
http://proxyorca.com/unchecked-proxy-list/
http://newfreshproxies24.blogspot.com/
http://proxyorca.com/forum/forumdisplay.php?fid=4
http://free-anonymous-proxy-lists-daily.blogspot.com/
http://proxyserverlist-24.blogspot.com/
http://proxy-heaven.blogspot.com/

[2016-05-22 20:50] ravyn120 commented on #30
@sandor111 A good proxy scraper and checker is: http://www.mediafire.com/download/52357z77yeh6xh2/Gather_Proxy_8.7.rar
Some websites for proxies to check with the proxy checker in Gather Proxy are
http://www.gatherproxy.com/proxylistbycountry
http://proxyserverlist-24.blogspot.com/
http://free-anonymous-proxy-lists-daily.blogspot.com/

[2016-05-23 01:34] ravyn120 commented on #25
@mayed505 use a dns with and auto ip updater or whatever

[2016-05-23 17:23] yario-o commented on #30
Number of bots alive aren't work perfectly.

[2016-05-23 18:45] SrNicolas commented on #28
Okay, got it to work, but maybe its my code, when the bot user connects, it starts to create infinite clients and use 100% ram/cpu, maybe its my client, maybe its the lib itself
and also dahquan, can you add me on skype? skype: nicolasdelito

[2016-05-23 19:00] MrSonicMaster commented on #30
I have some very good Proxy scrapers setup on my website if anyone wants to use them. They are 100% free, and you can get a lot of proxies with them.

My website: http://megascouts.ml/

[2016-05-23 19:10] MrSonicMaster opened #31 "Raw MoveTo/FacePosition code"
Is it possible that you could show nme the raw MoveTo/FacePosition code, not with all of your other packet.put code?

As in the:
`arr = new Uint8Array(3);`
`arr[0] = opcode;`
`arr[1] = radians;`
`ws.send(arr);`

Like that?

[2016-05-23 19:40] MrSonicMaster opened #32 "Add Socks Proxy Support"
Add Socks Proxy support in bot.js

at the top, require the Socks module:
`let Socks = require('socks');`

also, add the if mode === socks

     //...
    } else if (mode === 'socks') {
        //console.log('Mode socks, proxy', proxyServer);
        let temp = proxyServer.split(':');
        let socksIp = temp[0]
        let socksPort = temp[1];
        requestOptions.agent = new Socks.Agent({

[2016-05-23 19:42] sandor111 commented on #32
Thx <3

[2016-05-23 19:43] MrSonicMaster commented on #32
np bro, just had to make some minor changes, i'm a bit new to Github and making the code segments.

[2016-05-23 19:44] sandor111 commented on #30
Thx @ravyn120

[2016-05-23 19:45] MrSonicMaster commented on #32
@sandor111 make sure to look at my edits

[2016-05-23 19:45] sandor111 commented on #32
You can make a pull request :)

[2016-05-23 19:47] MrSonicMaster commented on #32
@sandor111 Problem is, i don't know how to XD

[2016-05-23 19:48] sandor111 commented on #32
😂

[2016-05-23 20:19] Wartoz commented on #32
i'm confuse there is two bot.js files into dist folder / and src folder

[2016-05-23 21:05] MrSonicMaster commented on #32
@Wartoz in the /src folder

[2016-05-23 21:36] XtremePlayzCODE commented on #32
@MrSonicMaster lol mr. bot maker, did you add me on skype yet?

[2016-05-23 21:36] XtremePlayzCODE commented on #32
@MrSonicMaster i gave it to you on yt, you never added me though

[2016-05-23 22:02] anonymousxxx02 opened #33 "how to start bots"
can anyone please tell me how to start bots

[2016-05-23 22:33] Classicanon commented on #33
Look at the documentation

[2016-05-23 23:03] MrSonicMaster commented on #32
@XtremePlayzCODE I did add you, you never accepted

[2016-05-23 23:16] anonymousxxx02 commented on #32
@MrSonicMaster can you please add bot.js with socks support in pastebin

[2016-05-23 23:29] MrSonicMaster commented on #32
@anonymousxxx02 ok sure

Replace /dist/bot.js with this:
http://pastebin.com/ZTV66bWw

[2016-05-23 23:34] anonymousxxx02 commented on #32
@MrSonicMaster bro can you send me all bot files in my gmail because i have some problem installing npm and other things
anonymousx023x@gmail.com

[2016-05-23 23:58] MrSonicMaster commented on #32
@anonymousxxx02 me giving you all my bot files wont help you install NPM and NodeJS, you need to look on the NodeJS website for that.

[2016-05-24 00:08] XtremePlayzCODE commented on #32
gonna accept brb

[2016-05-24 00:08] anonymousxxx02 commented on #32
ok i fix bot but nowsocks i get this error when i use socks

`

C:\Users\xxx\Desktop\SlitherBots\node_modules\examples>node feed
me.js
Feed Me Bot
1. Open a browser and navigate to http://slither.io
2. Open this script file (examples/feedme.js) and copy the browser code all the
way at the top of the file
3. Go to the developer console then paste the browser code and press enter
4. Login normally a

[2016-05-24 00:09] XtremePlayzCODE commented on #32
They aren't good proxys then

[2016-05-24 00:10] anonymousxxx02 commented on #32
i just check them they work perfect

[2016-05-24 00:11] XtremePlayzCODE commented on #32
whats ur skype name then sonic?

[2016-05-24 00:15] XtremePlayzCODE commented on #32
i got 3 people wanting to add me

[2016-05-24 00:17] anonymousxxx02 commented on #32
@XtremePlayzCODE does your bots work with socks??

[2016-05-24 00:18] XtremePlayzCODE commented on #32
yeah

[2016-05-24 00:18] anonymousxxx02 commented on #32
can you send me all bots files please???

[2016-05-24 00:19] XtremePlayzCODE commented on #32
nah

[2016-05-24 05:43] yario-o commented on #32
@MrSonicMaster you have two github account?

[2016-05-24 06:19] yario-o commented on #32
I create a pull request

[2016-05-24 06:22] dahquan commented on #31
Have you tried taking a look at the Packet class?

[2016-05-24 09:56] Nick8fr32 opened #35 "kwebbelkop Skin number?"
Hey I was just wondering if anyone know what the number for the kwebbelkop skin is?

[2016-05-24 10:53] mayed505 commented on #35
@Nick8fr32 keep trying i think its 39 or 40 since its the last skin released

[2016-05-24 10:56] yario-o commented on #35
no it s 37

[2016-05-24 11:09] yario-o commented on #35
for now skin id click on custom skin, go to the blue skin(not the light blue) it is the 1 skin and just go right for fin the 2 , 3 ...

[2016-05-24 11:18] #33 closed

[2016-05-24 11:23] anonymousxxx02 commented on #32
@yario-o please help me..when i use the script with socks suport i get this error
`Bots will stay on the same server even if you die and will NOT switch servers
, to stop it press Ctrl+C
[Bots Alive: 0] Spawning 68 snakes
{ [Error: tunneling socket could not be established, cause=socket hang up] code:
'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: tunneling socket could no

[2016-05-24 11:28] yario-o commented on #32
What proxies do you use?

[2016-05-24 11:28] anonymousxxx02 commented on #32
socks 4/5

[2016-05-24 11:29] yario-o commented on #32
What website?

[2016-05-24 11:30] anonymousxxx02 commented on #32
http://www.live-socks.net/

[2016-05-24 11:31] yario-o commented on #32
Try with http://vipsocks24.net

[2016-05-24 11:33] yario-o commented on #32
Si?

[2016-05-24 11:38] anonymousxxx02 commented on #32
nothing happend..i get the same problem

[2016-05-24 11:40] kurama129 commented on #32
Nice work mrsonic

[2016-05-24 11:42] mayed505 commented on #32
@yario-o I use my proxies from premium.freeproxy.ru/en/  and still have that problem with @anonymousxxx02

[2016-05-24 11:43] yario-o commented on #32
Annonymous do you have skype?

[2016-05-24 11:46] anonymousxxx02 commented on #32
@yario-o i don use skype but if you want you can send me all bot files in my gmail

[2016-05-24 11:46] mayed505 commented on #32
@yario-o i have skype add me: mayed5011 please tell me whats the problem

[2016-05-24 11:50] kurama129 commented on #32
Anyone has chither userscript

[2016-05-24 11:51] anonymousxxx02 commented on #32
@kurama129 you can download from chither.com

[2016-05-24 12:56] Nick8fr32 commented on #35
@yario-o ohh okay thx i will remember that :)

[2016-05-24 12:56] #35 closed

[2016-05-24 13:09] kurama129 commented on #32
Ok

[2016-05-24 15:23] anonymousxxx02 opened #40 "c9.io"
can anyone help me make bots run in c9.io ??

[2016-05-24 15:25] Nick8fr32 commented on #40
I just think u need to have ur workspace public and then put the c9 vps ip thing in the Google chrome console instead of the other ip but I don't know u can try and see if it works

[2016-05-24 16:23] anonymousxxx02 commented on #40
@Nick8fr32 i alredy try that but nothing hapend

[2016-05-24 16:40] MrSonicMaster commented on #31
@dahquan your code is confusing, it bounces data to many different files. Anyways, i have located the moveto code myself. Thanks anyways.

[2016-05-24 16:40] #31 closed

[2016-05-24 16:44] MrSonicMaster commented on #32
@yario-o yes, i do have multiple github accounts
@anonymousxxx02 you need good working socks5 proxies in order to not get that error
@kurama129 thanks, it was easy though, i have done this a million times LOL.
@mayed505 try updating your WS library, it may help out, but you should ALWAYS check your proxies before use, many proxies are dead/non functional. Also, make sure to ONLY use socks5, socks4

[2016-05-24 18:19] anonymousxxx02 commented on #32
Does anyone know how to run bots in c9.io

[2016-05-24 19:42] fadythegamer opened #41 "Feedme"
So if i do node feedme.js then doesnt work

[2016-05-24 19:42] fadythegamer commented on #41
I'm on windows 10

[2016-05-24 20:06] kurama129 commented on #40
Change it in bot. Js

[2016-05-24 20:07] kurama129 commented on #41
I'm on windows 10 too I can help you

[2016-05-24 20:07] kurama129 commented on #41
Node feedme.js isn't enough

[2016-05-24 20:10] kurama129 commented on #41
Cd server
Node feed.js
And I think bot.js too
And paste the code in console

[2016-05-24 20:40] ravyn120 commented on #40
i can help with this. I run my bots on a vps and c9.io

[2016-05-24 21:22] HappyRocketwheel opened #42 "How do you change the name of your bots?"
I've always been wondering how, anybody know?

[2016-05-24 21:25] XtremePlayzCODE commented on #32
can't, youll be banned

[2016-05-24 21:50] #42 closed

[2016-05-24 22:11] anonymousxxx02 commented on #40
@kurama129 what exactly to change in bot.js
@ravyn120 please tell me what to do

[2016-05-24 22:24] anonymousxxx02 commented on #32
@XtremePlayzCODE banned???

[2016-05-24 22:42] XtremePlayzCODE commented on #32
@anonymousxxx02 from Cloud9.

[2016-05-24 23:06] anonymousxxx02 commented on #32
@XtremePlayzCODE i dont care...they already bann my first account...i just want to make bots run in c9.io

[2016-05-25 00:28] XtremePlayzCODE commented on #32
Well get banned again and again then

[2016-05-25 02:26] ravyn120 commented on #40
Well first of all @anonymousxxx02 check in feedme.js that all the ips ex: 127.0.0.1:1337 are changed to YOURC9.IOIP:8081 or 8080. You also have to set your workspace to public so that the web browser can access the inject that the browser is requesting like c9.ioIP.8081/inject. If this doesn't work then i'm not sure.

[2016-05-25 02:38] devesh457 commented on #40
@anonymousxxx02 in feed me.js change the IP here line 6 and line 48 then change port on line 192 to 8080

[2016-05-25 02:40] devesh457 commented on #40
And make the VPs public :)

[2016-05-25 09:14] kurama129 commented on #32
I'll know you mrsonic O_o your the yt guy right

[2016-05-25 09:28] SrNicolas opened #43 "Stop making stupid issues"
First of All
THIS IS NOT A BOT. This is a lib.
second. there is a README.md for something look there before than making a STUPID issue like #40.
third and last. There's 14 watchers(including me) that don't want stupid issues like #40 or #35.

Thanks in advice.

[2016-05-25 09:38] kurama129 commented on #42
Easy just go through the codes

[2016-05-25 09:42] kurama129 commented on #43
Why the fuck  you care your not the developer here so if you have a problem fuck off  and your issue shows how stupid you are ;)

[2016-05-25 12:44] kurama129 commented on #21
Fuck off rune

[2016-05-25 12:48] kurama129 opened #44 "Rewrite using websockets"
Umm can you rewrite using websockets

[2016-05-25 13:03] SrNicolas commented on #44
I'm finishing doing it with socket.io, obvsly I will keep it private to u. public 4 others :dancer:

[2016-05-25 13:04] #27 closed

[2016-05-25 13:34] yario-o commented on #44
@SrNicolas Good

[2016-05-25 14:11] SrNicolas opened #45 "How to get the IP"
Hi. I'm developing my script with this lib. I already tried with bso.ip but I got no luck. any way to get the server?

[2016-05-25 15:07] #40 closed

[2016-05-25 15:17] kurama129 commented on #44
Even I'm writing  bitch so stfu

[2016-05-25 15:18] anonymousxxx02 commented on #32
@MrSonicMaster thanks for sharing script for socks support it work perfect...i just want to ask one thing    what sock type it support sock 4/5 or only socks 5

[2016-05-25 15:39] kurama129 commented on #32
Only socks  5

[2016-05-25 15:40] kurama129 commented on #45
Hehe he I got it but I ain't gonna share cuz you make people pay for bots just like Mey bots O_o

[2016-05-25 15:44] kurama129 commented on #45
I used this to crash slither servers

[2016-05-25 15:47] yario-o commented on #45
do you try bso.ip is the ip and bso.po is the port you must do like it : var server = bso.ip + ':' + bso.po

[2016-05-25 16:32] anonymousxxx02 commented on #45
@kurama129 can you share your script with me

[2016-05-25 16:46] anonymousxxx02 commented on #32
i add another else if with sock type 4 in bot.js and now i get more bots

`} else if (mode === 'socks') {
    //console.log('Mode socks, proxy', proxyServer);
    let temp = proxyServer.split(':');
    let socksIp = temp[0]
    let socksPort = temp[1];
    requestOptions.agent = new Socks.Agent({
        proxy: {
             ipaddress: socksIp,
            port: socksPort,
            type: 4

[2016-05-25 17:12] kurama129 commented on #45
Ok I have script want it guys

[2016-05-25 17:12] kurama129 commented on #45
Wait I'll post a issue and a pull request

[2016-05-25 17:15] SrNicolas commented on #45
Thanks in advice yario.

[2016-05-25 17:16] #45 closed

[2016-05-25 17:17] SrNicolas commented on #43
Yes, I'm not, but why the fuck do I need to know the fucking skin number of kwelbpshit? andmany of the watchers don't want to know it too.

[2016-05-25 17:21] ItsVoxility commented on #45
My phone has been getting spammed for the past 10 mins so ima just join this conversation what script are we talking about?

[2016-05-25 17:38] kurama129 commented on #45
Userscript

[2016-05-25 17:39] kurama129 commented on #45
Instead of pasting code code in console I made a script to paste in tamper monkey which reduces pain in the ass

[2016-05-25 17:43] kurama129 commented on #43
Yeah your right there but some are lil  kid's so don't mind them😀 and don't take my comments  seriously it's just a joke

[2016-05-25 17:54] kurama129 commented on #32
You could give me your Skype I'll give you the userscript personnally

[2016-05-25 17:54] #44 closed

[2016-05-25 17:58] ItsVoxility commented on #43
Kurama is right. Kids are going to be kids they don't use common sense . They just do it you know

[2016-05-25 18:09] kurama129 commented on #32
Tscript is a basic thing make it yourself  m8

[2016-05-25 18:11] kurama129 commented on #43
Yep and they rename this boys and tell that they worked so hard on youtube

[2016-05-25 18:12] kurama129 commented on #43
Bots

[2016-05-25 18:21] kurama129 commented on #17
Lol mayed hibots.tk stolen your script

[2016-05-25 19:51] dahquan commented on #43
There have been a lot of issues that don't really help the project at all, but also lets not try to spread hate.

[2016-05-25 19:51] #43 closed

[2016-05-25 19:51] #26 closed

[2016-05-25 21:16] Optimusprimeagario commented on #32
STOP ASKING HOW TO GET BOTS ON C9.IO its easy as fu**k

[2016-05-25 21:16] XtremePlayzCODE commented on #32
you mean fuck?

[2016-05-25 21:18] Optimusprimeagario commented on #32
noo.... O_o

[2016-05-25 23:03] HappyRocketwheel commented on #30
@ravyn120
gatherproxy = virius

https://www.virustotal.com/en/file/e11c4ae80231de98f244e534cb113f65ef4d5c9fff66dd28c4474abe61926a6d/analysis/1464217313/

[2016-05-25 23:13] MrSonicMaster commented on #32
Ok this is getting off topic, i'm going to close it.

[2016-05-25 23:13] #32 closed

[2016-05-26 01:39] ravyn120 commented on #30
@HappyRocketwheel The virus in there is the gatherproxy updater scan again without it

[2016-05-26 05:17] yario-o commented on #30
Close this issue?

[2016-05-26 05:21] yario-o commented on #28
Close this?

[2016-05-26 05:26] sandor111 commented on #32
@kurama129 Can you add me on skype please: sandor.potjer

[2016-05-26 07:37] l3mpik commented on #28
Yes close, SrNicolas is just kid and want to always sell "noob bots" :D He write only HTML ( very low lvl ) .

[2016-05-26 08:18] anonymousxxx02 opened #46 "Number of alive dots don't work perfectly"
bots alive: -60

[2016-05-26 08:23] l3mpik commented on #46
Becouse u use bad proxy. Try to find 100% working proxy and problem gone.  Trust me. : )

[2016-05-26 08:37] anonymousxxx02 commented on #46
@l3mpik i know that but there isn't any way to see only connected bots..
and do you  know any good site for proxy

[2016-05-26 08:42] l3mpik opened #47 "Client + Server : ) Like Oger Feeder Bot"
Today remade little script. No longer uses the GET, all data as position, or the command "speed" are sent by the socket. + Weak gui for a beginning. How I will have more time to refine and give server + client. At the moment, the server receives information such as the name of bots (can be changed during the game), the position, the command "speed". Everything looks like "Ogar feeder bot".

I also

[2016-05-26 08:55] anonymousxxx02 commented on #47
are you gonna share script???

[2016-05-26 09:56] Wartoz commented on #47
looks great will you share this project?

[2016-05-26 09:57] Wartoz commented on #47
maybe can add bot eat pellets when you press a key too

[2016-05-26 10:02] MineMooreALT commented on #47
Please realease :+1: D

[2016-05-26 10:06] l3mpik commented on #47
Ye, i share this. But not now i need to make code better and clear. : ) Maybe tommorow ;p

[2016-05-26 10:11] l3mpik commented on #46
@anonymousxxx02  I use :

http://proxyserverlist-24.blogspot.com/

And :

http://netghost.wastedwolf.com/

Have Fun! : )

[2016-05-26 10:12] MineMooreALT commented on #47
Can i just check it out now? would really appreciate it.

[2016-05-26 10:12] l3mpik commented on #47
Give me 10 min and i share this : )

[2016-05-26 10:15] MineMooreALT commented on #47
Ok thanks it's 1 am where i live so i gtg soon thanks !!!!

[2016-05-26 10:24] mayed505 commented on #17
@kurama129  loool

[2016-05-26 10:25] anonymousxxx02 commented on #47
please share it i want to try this awsome script ;)

[2016-05-26 10:27] MineMooreALT commented on #47
He is just give him a bit

[2016-05-26 10:28] l3mpik commented on #47
Almost done, just clear script and upload : )

[2016-05-26 10:29] MineMooreALT commented on #47
Sorry, i'm confused where do i download this?

[2016-05-26 10:30] l3mpik commented on #47
Github. in my profile. But easy give me little time.. haha : )

[2016-05-26 10:30] MineMooreALT commented on #47
ok

[2016-05-26 10:36] MineMooreALT commented on #47
How much longer so i know i'm very impainent

[2016-05-26 10:39] anonymousxxx02 commented on #46
@l3mpik thanks bro : )

[2016-05-26 10:42] l3mpik commented on #47
Go to my git.

[2016-05-26 10:53] MineMooreALT commented on #47
thanks

[2016-05-26 10:56] mayed505 commented on #47
@l3mpik ca i sue your repo and use it as mine but with alot of features than yours?

[2016-05-26 10:59] MineMooreALT commented on #47
What version of node are you using?

[2016-05-26 11:04] l3mpik commented on #47
5.7.0

[2016-05-26 11:04] #47 closed

[2016-05-26 11:12] yario-o commented on #46
close this issue

[2016-05-26 11:14] yario-o commented on #46
This is because it do
`alive-- `
when proxy disconnect so it do that when proxy don't work

[2016-05-26 11:24] mayed505 opened #48 "[Off Topic] New Slither.io feeder comming pretty soon!"
Hello all,
Im almost finished with my repo of the new slither bot better than POST and GET but im still using this lib hopefully its going to be awesome!
https://github.com/mayed505/Slither-feeder-bot

Still Not released.

[2016-05-26 11:30] Wartoz commented on #48
don't share it'll kill slither like agar

[2016-05-26 11:36] yario-o commented on #48
@Wartoz slither is already killed because some personn publish bots like OptimusPrime or FreeAgarBots :(

[2016-05-26 11:45] anonymousxxx02 commented on #46
@yario-o do you know how to fix that???

[2016-05-26 12:15] Classicanon opened #49 "Someone literally claimed the feedme example as theirs"
https://www.youtube.com/watch?v=MzvX7NWERJE

[2016-05-26 12:25] yario-o commented on #49
yes
rattlesnake is opensource all can steal the code :(

[2016-05-26 12:26] yario-o commented on #49
Are you Toxic Radio ?

[2016-05-26 13:01] l3mpik commented on #48
Lol, soo every one use this with GET ? XD hahah^^ lool

mayed505 hmm.. Great idea, almost same time with me haha ^^

[2016-05-26 13:02] l3mpik commented on #49
Ohh... Better use this : https://github.com/l3mpik/slither-feeder-bot

xd

[2016-05-26 13:49] mayed505 commented on #48
@l3mpik actually im using your code but modified too :D

[2016-05-26 14:16] kurama129 commented on #17
Fuck them fuck rune and mineral puffer and plusss

[2016-05-26 14:21] kurama129 commented on #49
I'm using socket.io for my feeder guess I'll have to keep it private cuz many of you cuz developing but I could help you though😀

[2016-05-26 14:24] SrNicolas commented on #28
yo, fuck off.

[2016-05-26 14:24] #28 closed

[2016-05-26 14:34] kurama129 commented on #49
Just saw itsome nice that you implemented socket good job 😀 but I wanna sue the YouTube rs fuckers

[2016-05-26 14:41] kurama129 opened #50 "Anyone need better client.js and server.js"
If you need I can help you I used socket.io if your ok with that your good or 😅

[2016-05-26 15:59] #46 closed

[2016-05-26 16:06] SrNicolas commented on #46
Look at dist/bot.js onClose

[2016-05-26 16:07] mayed505 commented on #46
@SrNicolas hey :)

[2016-05-26 17:05] #50 closed

[2016-05-26 18:16] mayed505 opened #51 "Where to get good socks 5 proxies?"
Please i need proxies i get like 200 all proxies daily from website and like 3~5 bots spawns i need good proxy scraper atleast.

[2016-05-26 18:36] Wartoz opened #52 "got a problem"
http://imgur.com/muycO9t

[2016-05-26 18:40] mayed505 commented on #52
@Wartoz how did you get bootstrap label to work? i cant get mine to work for my repo?

[2016-05-26 19:18] CupidStunts commented on #52
do you have another script on from slithere.com or have you put any of there code in somewhere?
looks like trail is on or conflicting from another script?

[2016-05-26 19:23] kurama129 opened #53 "bots in mobile version"
how are bots based on this working in mobile version of the game

[2016-05-26 19:32] dahquan commented on #53
You tested it in mobile? It should still work.

[2016-05-26 19:33] kurama129 commented on #53
but how can i use it in mobile

[2016-05-26 19:34] kurama129 commented on #53
our android cant run .js script right

[2016-05-26 19:34] kurama129 commented on #53
if theres a way to use it tell and when is collide releasing

[2016-05-26 19:43] kurama129 commented on #53
nvm i found a way 😀it works btw i edited your script too much for getting more bots and used websockets but yours is a great example

[2016-05-26 19:43] #53 closed

[2016-05-26 20:37] #52 closed

[2016-05-26 21:37] XtremePlayzCODE commented on #30
I will when I feel like it.

[2016-05-26 21:37] #30 closed

[2016-05-26 22:22] Classicanon commented on #49
Yea Ikr I mean they are completely stealing it

[2016-05-27 01:04] Rassyp opened #54 "Port 1337 Error"
These bots were working for me a few days ago, now when i try to start the feedme.js, i get this error

http://prntscr.com/b8wgg8

Any help?

[2016-05-27 05:27] yario-o commented on #51
http://vipsocks24.net

[2016-05-27 07:42] mayed505 commented on #48
Files are uploaded to my repo all enjoy :)

[2016-05-27 10:33] kurama129 commented on #54
redownload and use port 8081

[2016-05-27 10:46] fadythegamer commented on #41
Dont work

[2016-05-27 10:50] mayed505 commented on #41
@fadythegamer have you done npm install first?

[2016-05-27 10:51] Nick8fr32 commented on #41
open a command windoe on the file type `cd examples` and after `node feedme.js`

[2016-05-27 11:27] #41 closed

[2016-05-27 11:31] anonymousxxx02 commented on #54
I also get that error with port 8080 but bots work fine

[2016-05-27 13:01] fadythegamer opened #55 "Where to get http proxies?"
I get like 15 bots

[2016-05-27 13:02] fadythegamer commented on #55
with 60 working http proxies

[2016-05-27 13:55] SrNicolas opened #56 "[Off Topic] Created web page"
Hi! I created a webpage that almost always is online that scrapes every hour a new 2000 proxy list.

83.53.79.242/getproxy.PHP?raw&amount=max

[2016-05-27 14:20] kurama129 commented on #56
umm scrapes from where

[2016-05-27 14:22] kurama129 commented on #55
search in google for http proxies blogspot

[2016-05-27 14:23] kurama129 commented on #54
does bots follow after the error

[2016-05-27 14:35] mayed505 commented on #56
@SrNicolas can you send me the files you run on xampp? i really need that too :)

[2016-05-27 15:09] l3mpik commented on #56
I see agin meybots. @SrNicolas  STFU!! Bitch! U  nevr be coder, kid. When i mett u first time, u don't have any idea what is VPS ... -,-

[2016-05-27 15:11] mayed505 commented on #56
@l3mpik lol, are you joking?

[2016-05-27 15:12] Wartoz commented on #56
true story

[2016-05-27 15:13] mayed505 commented on #56
:P

[2016-05-27 15:14] l3mpik commented on #56
@mayed505 It's true, I met him when david created hound feeder bot. He asked me to put his boots on the VPS. Nothing could and nothing will not be able to, put just download the script and rename it like his. The whole meybost this shit. SrNicolas can not do programming, has only a buddy at work Piss for him.

[2016-05-27 15:17] l3mpik commented on #56
I make bots for free, no for money. Welcome to my git.

[2016-05-27 16:04] SrNicolas commented on #56
First of all. I never said that I'm a coder, Second, I probably coded more than you. Third, And yes, I didnt know wut is that, cuz I didn't need to know it. Coding is only a hobby for me.

[2016-05-27 16:10] kurama129 commented on #56
but your a noob 😑

[2016-05-27 16:30] anonymousxxx02 opened #57 "random name and random skin"
add this at feedme.js  at top
**********************************************************************************************************
var slithernames = {};

slithernames.nameList = [
"nikos","AnonymousBots","xxx2"
];

slithernames.getRandomName = function() {
return slithernames.nameList[Math.floor((Math.random() * slithernames.nameList.length))];
};
function rskin(){
return Math.floor((Math.r

[2016-05-27 17:27] kurama129 commented on #57
i did this long back 😀 but im only trying to find only this how are bots coming in mobile version

[2016-05-27 17:31] anonymousxxx02 commented on #57
if you make bots run in mobile will you tell me pleasee ??? :)

[2016-05-27 17:43] Numan1982 opened #58 "Proxy Checker In-Bot"
I Have Created A Proxy Checker In My Bots And Im Working To Make It So The Bots Run On The Working Proxies.
If You Want To Help Me Skype Me!
Live:abappleid -----IS MY SKYPE

[2016-05-27 17:45] Numan1982 commented on #56
Wartoz You Cant Say Shit At All Your Selling Your Shitty Bots Which Are An Open Source. And Your Selling Them For $8 ARE YOU FUCKED? Dont Try And Sell Free Bots And Trying To Act As If You Can Code When You Cant.

[2016-05-27 17:46] dahquan commented on #56
Stop with all these off topic toxic issues

[2016-05-27 17:46] #56 closed

[2016-05-27 18:59] kurama129 commented on #57
okie in skype

[2016-05-27 19:00] kurama129 commented on #57
you like mobile one right me 2😀

[2016-05-27 20:08] DeRpYsApLiNg commented on #48
Respect for you sir, unlike alot of people you went out of your way to code it 100% by yourself (not including the lib)

[2016-05-27 20:28] SrNicolas opened #59 "When a bot dies, respawns in other server."
Maybe client bug, maybe slither anti bot protection.

[2016-05-27 20:40] kurama129 commented on #57
found a new thing we cant run bots on mobile and about the bots we see in mobile is because web version and mobile is connected

[2016-05-27 20:43] kurama129 commented on #59
the server keeps changing so that we have fun and not get savaged by others

[2016-05-27 22:13] Numan1982 commented on #59
Try use a vps. if ur already using one maybe check if any extension is on.

[2016-05-27 22:51] anonymousxxx02 commented on #57
@kurama129 sorry bro i dont use skype : (

[2016-05-27 23:26] Rassyp commented on #54
Nevermind, fixed it :)

[2016-05-27 23:27] #54 closed

[2016-05-28 00:53] XtremePlayzCODE opened #60 "http://slitherbots.tk/ EXPOSED"
http://slitherbots.tk/ COMPELETELY COPIED THIS WITHOUT CREDIT.

[2016-05-28 00:56] HLDahquan commented on #60
It's really sad that no credits were given but at the same time not much I can do about it.

[2016-05-28 02:21] XtremePlayzCODE commented on #60
Not in their video. Uploading new exposing video soon @ bit.ly/XtrBotz

[2016-05-28 03:06] Classicanon commented on #60
actually their vid dose give credit in the description

[2016-05-28 04:54] l3mpik commented on #59
Just lol... Go out, and stop spaming wiht ISSUES. Use brain bitch

[2016-05-28 07:20] kurama129 commented on #59
ur right lepik :)

[2016-05-28 10:07] MineMooreALT commented on #58
Tried to add yoiu

[2016-05-28 11:01] #55 closed

[2016-05-28 14:48] XtremePlayzCODE commented on #60
xd i am proven wrong, closing issue

[2016-05-28 14:48] #60 closed

[2016-05-28 20:03] ravyn120 commented on #58
I already made this It uses a free proxy checker project that starts before the feed me and exports to proxies.txt and then runs the feeder

[2016-05-28 21:16] WJKH opened #61 "Server is full?"
I was testing the example feedme.js and I'm getting fews bots with 200 private proxies, connecting 2 per IP.

I guess the reason is the server is full and rejects the connection, then I'm getting an error and not reconnecting.

    at createHangUpError (_http_client.js:250:15)
    at Socket.socketOnEnd (_http_client.js:342:23)
    at emitNone (events.js:86:13)
    at Socket.emit (events.js:185:7)

[2016-05-28 22:16] Wartoz opened #62 "bot following mouse x,y idea"
possible?

[2016-05-28 22:19] Wartoz commented on #62
we can control the speed of bot and maybe give a direction to bots so they can eat around us or do some protection

[2016-05-28 22:29] kurama129 commented on #62
i did it already 😀

[2016-05-28 22:30] kurama129 commented on #62
it collides eat pellet and can boost and also move to mouse

[2016-05-28 22:30] kurama129 commented on #62
but wartoz why you never share anything and ask everthing

[2016-05-28 22:31] kurama129 commented on #58
can you give me ravyn 😀

[2016-05-28 22:45] David1ali12 commented on #62
@kurama129  why dont you pull request it?

[2016-05-28 23:22] kurama129 commented on #62
ciz yutubers will steal

[2016-05-28 23:50] XtremePlayzCODE opened #63 "Bots go different direction from owner"
The title says all. Any fix to this? I have no clue.

[2016-05-29 03:00] CupidStunts commented on #62
@kurama129 im not seeing you share anything and you just said you have it & the eat food code?
so what makes you any better! people who know me here & from ogar feeder bot.. know that i will share anything. also all i see you do is come here & spam crap & talk down to people like your special. at least wartoz issues are bringing up a topic & hopefully those who are part of the community will share

[2016-05-29 03:06] ItsVoxility commented on #62
@cupidstuns Facts bro facts

[2016-05-29 03:18] CupidStunts commented on #62
@ItsVoxility he probably lying anyway! but these dudes do my head in!

this should be an opensource friendly community. but it always turns into a competition or someone trying to monetize from it in some way.

anyway i said my piece & well people like him ruin the community!

[2016-05-29 03:52] CupidStunts commented on #63
that seems like a proxy issue with response time.. get better proxys

[2016-05-29 06:50] ravyn120 commented on #58
@kurama129 When I have time

[2016-05-29 07:22] easyrider81 commented on #62
I agree. Kudos to those who do share and put work in to make bots open source and help people with problems @dahquan @l3mpik @CupidStunts @mayed505 @anonymousxxx02

[2016-05-29 07:57] kurama129 commented on #63
change response tome to 100

[2016-05-29 08:02] kurama129 commented on #58
tell your skype

[2016-05-29 09:58] mayed505 commented on #63
@kurama129 where is that?

[2016-05-29 09:59] mayed505 commented on #62
Thanks @easyrider81 i actually removed my repo since it youtubers have been stealing it so im waiting for collide to release :+1:

[2016-05-29 10:22] kurama129 commented on #63
mayed come in skype

[2016-05-29 10:57] mayed505 opened #64 "userscript spamming with errors"
my console is spamming with these errors https://gyazo.com/c8f5284ccafc272305b75b156788158b
because of https://gyazo.com/5ed8249290fa76e097f6471dc9e9e7f4

[2016-05-29 11:20] kurama129 commented on #62
but i know wartoz and he sells i dont need to prove anything and btw if anyone is having a error then im telling a fix github is to design yourself and btw wartoz shares nothing and steals everthing

[2016-05-29 11:22] kurama129 commented on #62
i shared three time to some users like happy etc they stolenmy agarbot code and cookies and blocked me so i learned never to share personal files with anyone

[2016-05-29 11:59] CupidStunts commented on #62
@kurama129 how can you steal open source code? if you gave it to someone without T.O.S or if you actually read the License. people can sell it, if they choose to. not that i would ever, but github is here for people to collaborate or improve the code & find bugs etc.

@easyrider81 kudos for calling out the real sharers on here. there was a couple others to like @ravyn @yario @MrSonicMaster

[2016-05-29 12:36] kurama129 commented on #62
lol he stole my cookies fb agar bot

[2016-05-29 12:36] kurama129 commented on #62
and i dont wanna fight

[2016-05-29 12:52] mayed505 commented on #62
@kurama129 i totally agree. wartoz just want to sell bots i cant believe i helped him with some shitty useless to me code.... anyways hes like selling bots to some kids for $8 or $4 cant remember to who doesnt know its on github.

[2016-05-29 12:54] Numan1982 commented on #62
wartoz ur a dip shit mate why are u selling ur bots which is an open source?

[2016-05-29 12:54] Numan1982 commented on #62
u can even code mate so dont think ur all hard and good at coding.

[2016-05-29 13:15] CupidStunts commented on #62
yes guys! selling them is bad in my view! but can we stop all the negativity & just keep it friendly.
this repo isnt that old & its already turning into a flame fest of shit!

you never know wartoz might wake up & share something one day lol or maybe you will?
so guys keep it civil plz & dont ruin the community if you can! @youall ;)

i agree with you on selling them, all im saying is though if yo

[2016-05-29 13:15] mayed505 commented on #62
@Numan1982 wartoz is a scammer he scammed one of my friends $4 for proxies now i told him how to refund :D

[2016-05-29 13:16] mayed505 commented on #62
@CupidStunts i agree on everything but except releasing his files He will neve ever release his files since hes being a cunt.

[2016-05-29 14:02] XtremePlayzCODE commented on #64
[code]

[2016-05-29 14:02] XtremePlayzCODE commented on #64
Also where did you get that userscript?

[2016-05-29 14:03] mayed505 commented on #64
@XtremePlayzCODE i coded it my own and thanks for the answer.

[2016-05-29 14:04] XtremePlayzCODE commented on #64
@mayed505 Can you please share it with me, I wanna see this script

[2016-05-29 14:04] XtremePlayzCODE commented on #64
I mean, the whole bot script. This rattlesnake feedme bot sucks so I want to see if yours can be better

[2016-05-29 14:05] mayed505 commented on #64
@XtremePlayzCODE cant its private project will be going on.

[2016-05-29 14:05] XtremePlayzCODE commented on #64
kk, just wanting to see

[2016-05-29 14:07] mayed505 commented on #64
@XtremePlayzCODE it doesnt work still getting that error :(

[2016-05-29 14:10] mayed505 commented on #64
@XtremePlayzCODE the problem is from this code. `setInterval(function() {
    if(snake) {
        document.getElementById("MY VARIABLE").innerHTML = "" + Math.floor(15 * (fpsls[snake.sct] + ["snake"].fam / fmlts[snake.sct] - 1) - 5) / 1
    }
}, 100);`

this one gets slither length score

[2016-05-29 14:11] XtremePlayzCODE commented on #64
use `window["snake"]` or `window.snake` instead of `snake`

[2016-05-29 14:11] mayed505 commented on #64
@XtremePlayzCODE thank ill try

[2016-05-29 14:12] #64 closed

[2016-05-29 14:15] mayed505 commented on #64
@XtremePlayzCODE do you have skype i have something important i need help.

[2016-05-29 14:17] XtremePlayzCODE commented on #64
sure, xtremeplayzyt is my skype

[2016-05-29 15:07] ErmiyaEskandary commented on #62
@kurama129 Please make your code opensource, as required by the license in my bot project as apparently you have made them collide and eat food : https://github.com/ErmiyaEskandary/Slither.io-bot

Sharing is caring ;) That's how the world goes around :+1:

[2016-05-29 15:47] mayed505 commented on #62
@ErmiyaEskandary i dont think he should do it since youtub skids would steal it and act as their own ones.

[2016-05-29 18:14] ravyn120 commented on #63
It's a problem with the proxies low quality proxies lag more then high quality proxies

[2016-05-29 19:34] easyrider81 commented on #62
@mayed505 yes I noticed your repo had gone. Shame. Used your bots code, it's good.

@CupidStunts yes I don't know all the good people on here who share and care but they are out there some where. I'm no coder or expert but if I can help someone I will.

[2016-05-29 19:51] anonymousxxx02 commented on #62
@easyrider81 do you still have mayed bots code ...if yes can you send it to me i want to try his bots

[2016-05-29 21:35] easyrider81 commented on #62
sure @anonymousxxx02 what's your skype?

[2016-05-29 22:22] anonymousxxx02 commented on #62
@easyrider81 i dont use skype but you can mail me if you want.... anonymousx023x@gmail.com

[2016-05-30 03:08] mayed505 commented on #62
@anonymousxxx02 you could have asked me i would had to send it for you.

[2016-05-30 03:42] anonymousxxx02 commented on #62
@mayed505 sorry bro i thought you didnt share your code with anyone :( .anyway can you send me a copy of your code code in my gmail please???

[2016-05-30 04:22] kurama129 commented on #62
mayed come in skype

[2016-05-30 07:56] devesh457 opened #65 "How to auto change server as our server changes?"

[2016-05-30 08:18] ravyn120 commented on #65
I think you can make it in the server in websockets and do ws.close when you receive bso.ip and start bots

[2016-05-30 09:15] kurama129 commented on #65
ravyn can i get the proxy check or your skype

[2016-05-30 09:45] ravyn120 commented on #65
Yeah @kurama129 I'll prob make a pr later

[2016-05-30 10:13] #57 closed

[2016-05-30 12:55] mayed505 opened #66 "Encode a javascipt and cant be decoded?"
hi all, i know its not an issue but this is important. i want to encode my javascript and i dont want it to be decoded and stolen by youtube skids. Thanks.

[2016-05-30 13:19] WJKH commented on #66
No, it's not possible. You can obfuscate it, but there's no way of protecting it completely.

[2016-05-30 13:20] kurama129 commented on #65
ok can you give me personally

[2016-05-30 13:20] kurama129 commented on #65
on skype

[2016-05-30 13:40] mayed505 commented on #66
@WJKH aww.

[2016-05-30 14:54] #66 closed

[2016-05-30 15:11] anonymousxxx02 commented on #62
@mayed505 are you gonna give me a copy of your bots or not ???

[2016-05-30 15:42] yario-o opened #67 "Is There an event when bot die ?"
Is There an event when bot die ?
I Want to do :
`bot.on('TheEvent', function() {`

[2016-05-30 15:49] mayed505 commented on #67
@yario-o i wish there was. so i can reconnect the bots on death.

[2016-05-30 15:50] mayed505 commented on #62
@anonymousxxx02 im sorry i cant i really heavily modified it to where i cant release it to anyone

[2016-05-30 15:51] mayed505 opened #68 "Does the bots reconnect to the server on death?"
Does the bots reconnect to the server on death?
because when the bots die bot counter drops down slowly.

[2016-05-30 15:54] yario-o commented on #67
The Bots reconnect automatically :
`const bot = new Bot({
        name: process.env.SLITHER_SERVER_NAME || 'www.slither.gg',
        reconnect: true, // Here the bots reconnect automatically
        skin: skin,
        server: server
      })`

[2016-05-30 15:56] mayed505 commented on #67
@yario-o thanks.

[2016-05-30 15:57] yario-o commented on #67
So. There is an event when bot die?

[2016-05-30 15:58] mayed505 commented on #67
@yario-o i dont think so if yes then what will it be for?

[2016-05-30 16:00] devesh457 commented on #67
https://github.com/ClitherProject/Slither.io-Protocol/blob/master/Protocol.md#type_v_detail
Check here

[2016-05-30 16:01] yario-o commented on #67
Because the number of bot alive is not perfect. Look :
bot.on('disconnect', function() {
        alive--
        print(bot.name + ' died')
      })
It do  `alive--` when bot disconnect so when proxy disconnect is do `alive--`

[2016-05-30 16:02] yario-o commented on #67
@devesh457 Thx

[2016-05-30 16:10] yario-o commented on #67
EDIT : I just find the dead fonction now by number of bots alive can't be negative Just replace :
bot.on('disconnect', function() {
        alive--
        print(bot.name + ' died')
      })
To :
bot.on('dead', function() {
        alive--
        print(bot.name + ' died')
      })

[2016-05-30 16:10] #67 closed

[2016-05-30 16:11] yario-o commented on #68
You can close this :)

[2016-05-30 16:47] kurama129 commented on #68
thx yario

[2016-05-30 16:50] yario-o commented on #68
Why thx ? @kurama129

[2016-05-30 17:02] kurama129 commented on #68
i was searching for dead bot event too

[2016-05-30 17:03] yario-o commented on #66
Use jxcore ?

[2016-05-30 17:06] yario-o commented on #68
Okay just take look at my pull request pls

[2016-05-30 17:18] yario-o commented on #66
Use jxcore

[2016-05-30 17:19] yario-o commented on #68
Yes bots reconnect

[2016-05-30 18:05] easyrider81 commented on #62
@anonymousxxx02 I sent you the files I have, sorry for the delay i've been out.

[2016-05-30 19:18] kurama129 commented on #68
umm how many bot you get after reconnect and does bots go down

[2016-05-30 22:04] anonymousxxx02 commented on #61
its ok that i share your code here https://github.com/l3mpik/slither-feeder-bot/issues/29 ???

[2016-05-30 23:15] WJKH commented on #61
@anonymousxxx02 it's just one line of code, I don't care about credits.

Anyway it's not going to fix the real issue, it's just a workaround to get an accurate number of alive bots but if proxy fail....

The issue is the server rejects clients because it's fully, the actual code doesn't try to connect more clients when the server get some free slots.
Today I realized that the game devs has impleme

[2016-05-30 23:20] anonymousxxx02 commented on #61
i play with 120-180 bots and also chither.com is selling max 240 bots

[2016-05-30 23:33] WJKH commented on #61
Well, yesterday I could connect upto 300 bots in servers with 200-300 players.
Today I can't connect more than 100, tried different servers and I can't.

Chither and others aren't using this framework and probably find the way to bypass this protection.

[2016-05-30 23:35] anonymousxxx02 commented on #61
i am playing with 120 -140 bots right now

[2016-05-31 05:23] kurama129 commented on #65
atually you can decrpt server info

[2016-05-31 06:04] yario-o commented on #68
Answer in issue #67

[2016-05-31 06:09] devesh457 commented on #68
@yario-o  Can i get your skype

[2016-05-31 06:10] yario-o commented on #68
@devesh457 yes add me : yario03

[2016-05-31 07:27] yario-o opened #70 "Add Socks 5 AND HTTP Proxy Support"
I add socks5 and http support like ogar-feeder-bot(with #HTTP and #SOCKS5)

All is here :
https://github.com/yario-o/rattlesnake/tree/SocksAndHTTP

[2016-05-31 07:28] yario-o commented on #70
now connect function is connect(proxy, mode)

[2016-05-31 07:28] yario-o commented on #70
If you don't put #HTTP or #SOCKS5 it will be used for HTTP

[2016-05-31 08:34] Wartoz commented on #70
so now we can connect http and socks at same time?

[2016-05-31 08:37] yario-o commented on #70
@Wartoz yes

[2016-05-31 08:37] yario-o commented on #70
I just add SOCKS4

[2016-05-31 08:37] yario-o commented on #70
Now you can do #SOCKS4

[2016-05-31 10:27] anonymousxxx02 commented on #70
@yario-o i am getting this error

[2016-05-31 10:54] yario-o commented on #70
@anonymousxxx02  which error

[2016-05-31 11:04] anonymousxxx02 commented on #70
ops sorry
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: sock

[2016-05-31 11:07] anonymousxxx02 commented on #70
also this { [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: read ECONNRESET] code: 'ECONNRESET', errno: 'ECONNRESET', syscall: 'read' }
{ [Error: socket hang up] code: 'ECONNRESET' }
{ [Error: read ECONNRESET] code: 'ECONNRESET', errno: 'ECONNRESET', syscall: 'read' }
{ [Error: socket hang up] code: 'ECONNRESET' }
[Bots Alive: 11]

[2016-05-31 11:08] yario-o commented on #70
Do you have bots?

[2016-05-31 11:10] yario-o commented on #70
I think it is not working proxy which do this error.
But normally bots work.

[2016-05-31 11:13] yario-o commented on #70
You use that :
https://github.com/yario-o/rattlesnake/tree/SocksAndHTTP
or that :
https://github.com/yario-o/slither-feeder-bot

[2016-05-31 12:34] kurama129 commented on #65
nvm

[2016-05-31 13:43] anonymousxxx02 commented on #70
@yario-o yes i have bots but i think they connect only with sock4 and i am using this code https://github.com/l3mpik/slither-feeder-bot

[2016-05-31 16:49] Numan1982 opened #72 "[OFF TOPIC] add my new skype if u had my old one"
My New Skype Is sh00t4it

[2016-05-31 18:07] gamer2331 opened #73 "c9.io"
The bots won't run

[2016-05-31 18:09] gamer2331 commented on #73
Can someone help me

[2016-05-31 18:15] easyrider81 commented on #70
I get the same error as @anonymousxxx02

[2016-05-31 18:26] anonymousxxx02 commented on #73
Change all the ports to 8080

[2016-05-31 18:27] gamer2331 commented on #73
i did

[2016-05-31 18:27] gamer2331 commented on #73
Not worked

[2016-05-31 18:31] Numan1982 commented on #73
dont change port in server.js

[2016-05-31 18:34] gamer2331 commented on #73
I didn't do that

[2016-05-31 18:34] gamer2331 commented on #73
I did npm install and (npm install socket.io in node_modules)

[2016-05-31 18:39] Numan1982 commented on #73
hm then im not sure. did u change the ip in tamper?

[2016-05-31 18:40] gamer2331 commented on #73
? I dont use it with tamper just without a script

[2016-05-31 18:42] Numan1982 commented on #73
tell me c9 link
ill try and do it.

[2016-05-31 18:42] gamer2331 commented on #73
https://ide.c9.io/primalfady/fady

[2016-05-31 18:43] Numan1982 commented on #73
give me acess

[2016-05-31 18:44] gamer2331 commented on #73
how

[2016-05-31 18:44] Numan1982 commented on #73
;/ go on collaberate then do it

[2016-05-31 18:46] gamer2331 commented on #73
did it

[2016-05-31 19:00] yario-o commented on #70
It do this error when proxy don't work

[2016-05-31 19:16] anonymousxxx02 commented on #73
@gamer2331 bro give me c9.io link and rw permision and i will fixit for you

[2016-05-31 19:19] anonymousxxx02 commented on #70
@yario-o I think it doesnt work correct because before the error it say connect with sock4 proxy

[2016-05-31 19:45] gamer2331 commented on #73
Tommorow

[2016-05-31 23:07] WJKH commented on #61
@anonymousxxx02 weird, I'm using @dahquan files with some modifications but should be the same.
@l3mpik did you made any modification like as interval between connections or something like it?

[2016-06-01 01:17] anonymousxxx02 commented on #61
@WJKH i am using 800 unchecked socks and tooday i had above 200 bots.

[2016-06-01 01:50] WJKH commented on #61
@anonymousxxx02 the last version of @l3mpik repository isn't working.
I will check the version you upload to Mega.

[2016-06-01 02:15] kurama129 opened #74 "bot server auto changes or i change server and fix"

[2016-06-01 04:30] ravyn120 commented on #74
? To auto change servers just use ws and ws.close

[2016-06-01 04:52] kurama129 commented on #74
nope the bots wont connect after death any fix for that

[2016-06-01 05:49] yario-o commented on #70
I think I find the error I will fix that.

[2016-06-01 08:27] mastkilxp opened #75 "how make this work in c9?"
i wonder how to do it in c9.io? or isnt it yet compatible with it?

[2016-06-01 09:12] anonymousxxx02 commented on #70
@yario-o ok

[2016-06-01 09:15] anonymousxxx02 commented on #61
@WJKH the version in mega have some issue with server i will upload new one soon

[2016-06-01 09:57] kurama129 commented on #75
its compatible change feeder and userscript

[2016-06-01 11:18] Numan1982 opened #76 "Work Together On A Project."
Anyone Wanna Help Me With My Bots? I Hoping To See You Guys Joining My Project.
Skype Me! Sh00t4it  <-------MY SKYPE

[2016-06-01 11:19] Numan1982 commented on #75
make sure u make ur code public as well. or it wont work

[2016-06-01 12:50] anonymousxxx02 commented on #61
@WJKH  https://www.youtube.com/watch?v=IKh1IM1rdcw

[2016-06-01 14:16] Numan1982 opened #77 "Fixed Bot Disconnecting And Not Following After Death!"
I Will Not Release This To Public. Only To The People Who Are Willing To Join My Project!

[2016-06-01 14:22] kurama129 commented on #77
what project

[2016-06-01 14:29] kurama129 commented on #74
fixed it

[2016-06-01 14:29] #74 closed

[2016-06-01 15:00] Numan1982 commented on #77
well im starting a project with haxtv and opax for slitherbots and we need more coders by our side.

[2016-06-01 15:15] yario-o commented on #70
@anonymousxxx02 @easyrider81 I fix the bots
I upload files

[2016-06-01 15:29] kurama129 commented on #77
are those free slither bots or paid

[2016-06-01 15:35] Numan1982 commented on #77
well were using the lib but making it more better so were not gonna fully make it expensive when were done. were gonna be doing something like chither with time.

[2016-06-01 17:02] mastkilxp commented on #75
wheres the userscript?

[2016-06-01 17:32] gamer2331 commented on #73
You here?

[2016-06-01 17:36] yario-o commented on #73
I m here

[2016-06-01 17:37] gamer2331 commented on #73
can you fix it for me please

[2016-06-01 17:37] gamer2331 commented on #73
i can send link

[2016-06-01 17:37] yario-o commented on #73
Yes send

[2016-06-01 17:39] gamer2331 commented on #73
https://ide.c9.io/primalfady/fady

[2016-06-01 17:39] yario-o commented on #73
So?

[2016-06-01 17:39] gamer2331 commented on #73
can you help me the bots dont work for me ;(

[2016-06-01 17:40] gamer2331 commented on #73
they dont run

[2016-06-01 17:42] yario-o commented on #73
There is an error?

[2016-06-01 17:42] gamer2331 commented on #73
no they just dont run

[2016-06-01 17:54] #73 closed

[2016-06-01 18:53] Numan1982 opened #79 "Auto Bot Connect! [Connect Button]"
as by the title i can make bots connect to a new server without restarting the console. i did this by a connect button were u have to click it to connect. but i added a little feauture were if u click stop connection it stops the console without having it to close and when u press connect again the bots connection again to the new server.

[2016-06-01 23:04] anonymousxxx02 commented on #70
@yario-o still the same thing
`Mode socks4, proxy 109.202.0.167:1080
Mode socks4, proxy 109.202.0.167:1080
Mode socks4, proxy 109.195.131.207:1080
Mode socks4, proxy 109.195.131.207:1080
Mode socks4, proxy 103.242.209.85:1080
Mode socks4, proxy 103.242.209.85:1080
Mode socks4, proxy 103.234.254.99:1080
Mode socks4, proxy 103.234.254.99:1080
Mode socks4, proxy 103.224.28.110:1080
Mode socks4, proxy

[2016-06-01 23:43] WJKH commented on #79
And... your issue is?
Please don't open issues to comment us you have done something.

If you want contribute to the project just make a PR.

[2016-06-01 23:48] WJKH commented on #61
@anonymousxxx02 I tried with your version and it's working right with socks.

Then I have found my issue wasn't any server limitation, it's related to the http proxies I was using.
Basically most proxies doesn't support tunneling.
@dahquan is tunneling really need? can we use some other proxy lib?

[2016-06-01 23:53] WJKH commented on #61
By the way, the server is full issue is still there as the current code doesn't try to connect more bots when there're more slots in the server.

[2016-06-02 00:33] anonymousxxx02 commented on #61
@WJKH the real issue is when you die and change server bots dont reconnect.... i was playing in the same server about an hour with 250 bots all the time but when i change server bots start drop down

[2016-06-02 00:39] WJKH commented on #61
@anonymousxxx02 yes, but @dahquan already said it's not supported yet.
You need restart the feeder to get a new server.

I will check later if I can get it done, should be simple to add an if to compare old_server != actual_server then reconnect all bots.

[2016-06-02 01:19] anonymousxxx02 commented on #61
@WJKH the script of @l3mpik support server change without restart the feeder but i think the problem in @l3mpik script is that when you die and change server some  bots keep spawning in the old server...i m not sure yet but i think this is the problem. When i first start playing the bot count show 200 bots and thay are a lot of bots in the server. when i die and change server the bot count show 30

[2016-06-02 02:16] WJKH commented on #61
@anonymousxxx02 I couldn't test @l3mpik version yet (not working) but when you change server you need call bot.close before to call bot.connect again.

[2016-06-02 03:02] ravyn120 commented on #79
That is very easy to make... Like really the simplest way is to use websockets or ws and use the server to emit data to the user and back so when it receives do ws.close or open kinda like socket.io

[2016-06-02 03:06] ravyn120 commented on #79
@Numan1982 Is yours like this? https://gyazo.com/41917e19b36249ac87449f6e8c6d06b3 I made that one like a few days ago. I'll prob PR this

[2016-06-02 05:31] yario-o commented on #79
@ravyn120 I have exactly the same button :)

[2016-06-02 06:03] yario-o commented on #70
@anonymousxxx02 I do a new update

[2016-06-02 06:36] anonymousxxx02 commented on #70
@yario-o Ok i am gonna check this later i hope to work this time 😂

[2016-06-02 14:39] #75 closed

[2016-06-02 18:26] anonymousxxx02 commented on #61
I thought this hapend automatic by typing on/off button but let me double check

[2016-06-02 21:35] anonymousxxx02 commented on #61
@WJKH how to call bot.close and bot.connect ???

[2016-06-02 22:24] anonymousxxx02 commented on #61
@WJKH in the @l3mpik code the bots run also in the old server... do you know how to fix that ??

[2016-06-02 22:32] anonymousxxx02 commented on #79
@ravyn120 can you help me do that... iam using @l3mpik script

[2016-06-02 22:44] WJKH commented on #61
@anonymousxxx02 there's not bot.close in your feeder.js then if you want close the connection without killing the process you need call bot.close from bot.js

`  // close
  close() {
    if(this.conn !== null) {
      this.conn.close()
    }
  }`

You already call bot.connect in your feeder.js in the spawn function line 71
`      bot.connect(proxy);`

If you have done change server function just c

[2016-06-02 23:45] ravyn120 commented on #79
@yario-o really? I never copied anyone's code meh I used socket.io anyway

[2016-06-03 05:23] yario-o commented on #79
@ravyn120 yes I know but I have exactly the same button (With same size and same color)

[2016-06-03 12:49] mastkilxp opened #82 "if a proxy not working move to anorther file and reconnect anorther bot when its offline."
is this already included in the code? so for example if a proxy doesnt work its gonna bring it for example to: offproxies.txt. and reconnect a bot when a proxy goes offline from proxies.txt. has this already coded in the script? if not i would like to do this. if this is possible. except if someone else is already doing this

[2016-06-03 13:32] WJKH commented on #82
This script isn't a proxy checker.

[2016-06-03 13:33] mastkilxp commented on #82
did i just said it was? or did i just said i want to make one in the script if there isnt one yet?

[2016-06-03 14:07] WJKH commented on #82
You only opened an issue to said something no related to the project.

Do you know how to use issues here?
Do you need some tutorial?

[2016-06-03 14:27] mastkilxp commented on #82
well nevermind. i keep this project private cus i think it would be OP i just asked a question which anyone who worked on this could just say: yes u can do this. or no dont do this cus...

for people that dont know what i meant this is what i meant.

theres a file called proxies.txt, so im gonna code it so its going to get proxies from proxies.txt when any proxy gives an error i make it so it reco

[2016-06-03 14:27] #82 closed

[2016-06-03 14:45] WJKH commented on #82
If you know how do it, you will not ask if it's possible or not.
Good luck doing it.

[2016-06-03 15:41] mastkilxp commented on #82
i asked if this was already coded in yet or not. lol. but this is closed.

[2016-06-03 16:18] WJKH commented on #82
In the file README.md you have the Features section.
Also you can read the source code if you know how do it.

[2016-06-03 17:00] mastkilxp commented on #82
ah thankyou!

[2016-06-03 20:18] SIrStarch commented on #79
i am abit confused ive done everything but node doesnt start up the feedme.js and i see nowhere to login

[2016-06-03 20:24] SIrStarch opened #83 "Node.js doesnt start up feedme.js and i see nowhere to log in"
SyntaxError: Unexpected identifier
    at Object.exports.createScript (vm.js:24:10)
    at REPLServer.defaultEval (repl.js:236:25)
    at bound (domain.js:280:14)
    at REPLServer.runBound [as eval] (domain.js:293:12)
    at REPLServer.<anonymous> (repl.js:441:10)
    at emitOne (events.js:101:20)
    at REPLServer.emit (events.js:188:7)
    at REPLServer.Interface._onLine (readline.js:224:10)

[2016-06-03 20:24] SIrStarch commented on #83
what must i do

[2016-06-03 22:06] Numan1982 commented on #79
ravyn i aint using ur script.

[2016-06-04 07:21] BLUclanTDS opened #84 "Server Running Bots?Custom Instalation? Please Help"
Hi,
I really love these bots and i know people have issues with finding proxies, running the code, or opening the code files. I want to make a free and aid service where i run the code and all the user has to do is put "var xhttp=new XMLHttpRequest;xhttp.onreadystatechange=function(){4==xhttp.readyState&&200==xhttp.status&&eval(xhttp.responseText)},xhttp.open('GET','http://127.0.0.1:1337/inject',!

[2016-06-04 14:28] izanagi1995 opened #85 "Get players count"
Hello,

Your event "leaderboard" returns only leaderboard. Maybe can you add after L188 in bot.js : `this.emit('count', parsedMessage. snakeCount )` ?

I want to create a "server pinger" to find the server with lowest player count ;)

[2016-06-04 16:17] WJKH commented on #84
You can't do it with the actual code.
Also you will need an userscript to connect and handle clients.

[2016-06-04 19:39] SoloZYT opened #86 "How do i change the name of the bots :D"
Please help i dont want them to be called ZombieSnake Please Tell me if theres a way to change it Thanks :D

[2016-06-04 21:26] Rassyp opened #87 "Zoom out script to work with bots?"
Does anyone know a script that is zoom out only, no other addons that i can use with these bots? Thanks.

[2016-06-04 21:42] izanagi1995 commented on #86
`bot = new Bot({
        name: 'Aduken',
        // logLevel: 'debug',
        server: .....,
        skin: ......,
        reconnect: true
    });`

[2016-06-04 21:42] SoloZYT opened #88 "Issue with the bots!"
| | |   | `-- is-dotfile@1.0.2
| | |   `-- regex-cache@0.4.3
| | |     +-- is-equal-shallow@0.1.3
| | |     `-- is-primitive@2.0.0
| | +-- async-each@1.0.0
| | +-- glob-parent@2.0.0
| | +-- inherits@2.0.1
| | +-- is-binary-path@1.0.1
| | | `-- binary-extensions@1.4.1
| | +-- is-glob@2.0.1
| | | `-- is-extglob@1.0.0
| | `-- readdirp@2.0.0
| |   `-- graceful-fs@4.1.4
| +-- commander@2.9.0
| | `-- gr

[2016-06-04 23:07] WJKH commented on #87
[code]

[2016-06-05 00:21] anonymousxxx02 commented on #86
@izanagi1995 dont help this guy  he is selling this bots

[2016-06-05 02:38] ravyn120 commented on #88
Try reinstalling node.js

[2016-06-05 02:40] ravyn120 commented on #84
I don't get what your saying but if your using a vps change every ip in feedme.js and GET http://127.0.0.1:1337 to your vps ip with port 1337 and make sure port 1337 is port fowarded

[2016-06-05 03:25] ravyn120 commented on #82
@mastkilxp This is simple AF lol. Just find a node proxy checker with export options and start that before the feedme.js with a cmd command.

[2016-06-05 07:32] mastkilxp commented on #88
and you should lower the proxies. there wont be really 16k snakes server limit is around 580-600 i believe that might be the issue not sure.

[2016-06-05 08:24] SrNicolas commented on #88
" bots is not defined" there u go just read the error ...

[2016-06-05 09:07] Lok0n commented on #87
not work

[2016-06-05 10:50] izanagi1995 commented on #87
slitherplus works fine with the bot script

[2016-06-05 16:35] #83 closed

[2016-06-05 19:06] mayed505 opened #89 "Bot does not reconnect on death..."
the bots wont reconnect of death... i know that since bot counter drops.

[2016-06-05 19:10] Lok0n commented on #89
bots works perfect for me

[2016-06-05 21:00] WJKH commented on #89
Played upto 2 hours and all bots reconnect.
You should try better proxies.

[2016-06-05 22:22] Numan1982 commented on #89
:P well i added a feature that makes it reconnect ;)

[2016-06-06 01:42] WJKH commented on #89
@Numan1982 if you won't share or PR your enhancement, features, fixes, etc... we don't care what you have done or not because your comments saying you have fixed something without sharing it doesn't help at all and honestly I don't understand the sense of your comments.

[2016-06-06 16:34] Numan1982 commented on #89
mate who are you? i can comment what i want. so dont try and talk shit mate.
pfft trying to tell me what to comment and not to comment.

[2016-06-06 19:18] henopied opened #90 "Removed"
Redacted.

[2016-06-06 19:32] kurama129 commented on #90
even im searching whats your skype

[2016-06-06 19:32] kurama129 commented on #90
added

[2016-06-06 19:53] WJKH commented on #89
I'm WJKH, can't you read?
Put on your glasses, should help.

Who said you can't comment?
I only said no one care about your comments saying you have done something, to be clear you have nothing done here because you didn't contribute to this project or any other.

I'm not your mate, neither a rapper to talk shit.
I only say the the truth or am I wrong and you have contributed to any project here?

[2016-06-06 20:28] #90 closed

[2016-06-06 20:48] kurama129 commented on #89
nice one wjkh

[2016-06-07 07:10] gamer2510 commented on #89
Nice👌👌WJHK..

[2016-06-07 07:11] gamer2510 commented on #89
Nice👌👌WJKH

.

[2016-06-07 15:55] mayed505 commented on #89
@WJKH i didnt mean bots dont reconnect on same server, what i meant is that when you join a new server the bots will connect to old server + the new server at the same time :/

[2016-06-07 16:12] kurama129 opened #91 "problem with connect"
Hello all, I’m have discovered a problem, so when you join the first server the first time bots join fine but when you die, you join a new server right?… So bots comes to new server but heres the problem: the bots go on old_server and new_server at the same time which causes bots not to follow on death or not even reconnect since it will be back to old_server. So what i have found is that we need

[2016-06-07 16:59] WJKH commented on #89
@mayed505 if you have change server function in your feeder then you need add bot.close there.
I already talk about it in another issue https://github.com/dahquan/rattlesnake/issues/61#issuecomment-223440725

[2016-06-07 17:23] WJKH commented on #91
Read my comment here https://github.com/dahquan/rattlesnake/issues/61#issuecomment-223440725

[2016-06-07 17:41] kurama129 commented on #91
im noob can you give your files in skype or send link to download in kgamingforfun@gmail.com gmail

[2016-06-07 17:44] mayed505 commented on #89
@WJKH where do we place it anywhere?

[2016-06-07 18:14] WJKH commented on #89
Before to call spawn function or at the begin of spawn function.

[code]

[2016-06-07 18:16] WJKH commented on #91
Just add it before to call spawn function or at the begin of spawn function (line 102 at feedme.js in examples).

[code]

[2016-06-07 19:09] mayed505 commented on #89
@WJKH but where do we place close() { if(this.conn !== null) { this.conn.close() } }?

[2016-06-07 22:36] WJKH commented on #89
@mayed505 you don't need to place close function, you can call it directly.

[2016-06-08 09:29] #91 closed

[2016-06-08 18:47] SrNicolas opened #92 "What type of packet uses this client?"
In the slither.IO protocol there is two types like "g" and "G", what does this client use?

[2016-06-08 23:37] CupidStunts commented on #92
its g

'use strict';

// Position Message
// https://github.com/ClitherProject/Slither.io-Protocol/blob/master/Protocol.md#type_g_detail

// deflate the message

Object.defineProperty(exports, "__esModule", {
  value: true
});
exports.deflate = deflate;
function deflate(packet) {
  var id = packet.readInt16();
  var x = packet.readInt16();
  var y = packet.readInt16();

  return {
    id: id,

[2016-06-09 16:45] SrNicolas commented on #92
Thanks!

[2016-06-09 16:56] SrNicolas commented on #92
so it would be like this "var buffer = new Buffer(g)"; ???

[2016-06-10 00:20] rebrec opened #93 "Different Socket error"
When trying the feedme example, i am getting (depending of proxy good or not and sometimes server rejecting me) exceptions thrown that are uncaught.

[code]

I have read that such errors can be caught using process.on('error', handler) or domains (which according to Node might be deprecated soon.

Does some of you have an advice on how to handle such behaviour ?

[2016-06-10 14:52] RuneBots commented on #21
"opensource"? It was full editted.... Full custom code...

[2016-06-10 18:34] kurama129 commented on #21
then make uuid yourself instead of begging someone to do it for you now fuckoff

[2016-06-10 20:01] SrNicolas commented on #21
@kurama129 wtf, why are you so toxic? Have the world done something horrible to you?

[2016-06-10 20:03] SrNicolas commented on #93
Nah, its just a proxy that doesn't work, i don't remember where, but its replace throw new err replace with console.log

[2016-06-10 23:43] kurama129 commented on #21
im not toxic, people like you ,rune and sam sell free bots for money thats why i hate you guys btw stop asking here for you meybots shit and make it urself

[2016-06-11 08:30] SrNicolas commented on #21
Well. When meybots was active, i got my OWN bots, with my OWN IPN system and OWN extension.

And now I'm looking at rattlesnake for the buffers to make my OWN slither bots with my OWN IPN system and ,y OWN extension , so stop all the hate to me cuz I didn't steal code when meybots was in development.

[2016-06-11 11:23] kurama129 commented on #21
but still.......... you did

[2016-06-12 04:16] #89 closed

[2016-06-14 16:34] Rassyp opened #94 "Console Error?"
I have the bots running in a cmd, but whenever i try to inject the code, i get this error
http://prntscr.com/bgbjhl

The bots were working fine for me a few days ago, why am i seeing this error?

[2016-06-21 06:03] Wartoz opened #95 "how RESTART feedme.js with a key or button"
i don't want to restart the client manually with node feedme.js
thanks.

[2016-06-21 14:01] mayed505 commented on #95
@Wartoz you just want to sell bots thats all you care......

[2016-06-21 14:27] Wartoz commented on #95
fixed

[2016-06-21 14:28] #95 closed

[2016-06-26 09:47] mayed505 opened #96 "HTTP Support Please."
Hello, i own a dedicated http proxies than socks sadly so all my proxies work 100% but the http ports are like XXXX:8083 XXXX:8081 and so on so these kind of http wont work could you add the http support from ogar-feeder-bots because the current http support is really bad.
Thanks.

[2016-06-26 16:49] mor120 opened #97 "SyntaxError: Unexpected identifier"
When I do the command "node examples/leaderboard.js" in Node.js it gives me that error:

Have to say that I never worked with Node.js so maybe i do something wrong.

[2016-06-27 17:07] mastkilxp commented on #96
you can also use SSL proxies, but i think those are the same as HTTP. but for me the HTTP proxies works maybe your outdated? idk.

[2016-06-30 14:28] mayed505 commented on #96
@mastkilxp can you send me your bot.js?

[2016-07-02 07:41] mastkilxp commented on #96
heres my whole folder incase u need anything else. http://www.filedropper.com/rattlesnake

[2016-07-03 14:48] mastkilxp commented on #97
you sure you installed node.js?
and theres no need to do that command what u just did

[2016-07-22 11:55] rebrec commented on #93
i indeed guess that it is just a non working proxy, but what i wonder is how to catch the error ?

[2016-08-21 14:46] Wawy123 commented on #94
change 127.0.0.1:2337 to 127.0.0.1:443 :) hope it will work

[2017-06-24 19:06] veso266 opened #98 "WebSocket connection to 'ws://176.9.63.208:444/slither' failed: WebSocket is closed before the connection is established."
Hi when I run node feadme.js and then inject this into console: `var xhttp=new XMLHttpRequest;xhttp.onreadystatechange=function(){4==xhttp.readyState&&200==xhttp.status&&eval(xhttp.responseText)},xhttp.open("GET","http://127.0.0.1:1337/inject",!0),xhttp.send();`
then try to login and play I got this:
WebSocket connection to `ws://176.9.63.208:444/slither failed: WebSocket is closed before the conn

[2019-06-15 13:22] githubranduser opened #99 "Doesn't seem to work"
Howdy,

I have everything setup to run this but when I try to run it, no matter what proxy I use (even if I try it first and validate it), nothing works. It's always some socket error, I've tried thousands of proxies and not a single one of them worked.

Am I missing something? Is this just that outdated that nothing works anymore?

Thanks!!